version: '3.8'
services:
  code-interpreter:
    container_name: code-interpreter
    image: registry.cn-hangzhou.aliyuncs.com/ripper/code-interpreter-api:latest
    ports: # 端口映射
      - "14564:14564"
    environment: # 环境变量
      - DEBUG=false
      - PORT=14564
      - MAX_WORKERS=4
      - EXECUTION_TIMEOUT=30
      - DOCKER_IMAGE=registry.cn-hangzhou.aliyuncs.com/ripper/python-executor:latest
    volumes: # 挂载目录
      - .:/app
      - ./images:/app/images
    restart: always