services:
  # 首次快速执行的话记得先拉去执行器镜像: docker pull registry.cn-hangzhou.aliyuncs.com/ripper/python-executor:latest
  code-interpreter-api:
    image: registry.cn-hangzhou.aliyuncs.com/ripper/python-code-interpreter-api:latest
    environment:
      PORT: "14564"
      PUBLIC_BASE_URL: "http://127.0.0.1:14564"
      DEBUG: "false"
      DOCKER_IMAGE: "registry.cn-hangzhou.aliyuncs.com/ripper/python-executor:latest"
      DOCKER_NETWORK_MODE: "bridge"
      DOCKER_PIDS_LIMIT: "256"
      IMAGE_STORE_PATH: "/data/images"
      IMAGE_URL_PREFIX: "/images"
      FILE_STORE_PATH: "/data/files"
      FILE_URL_PREFIX: "/files"
    ports:
      - "14564:14564"
    volumes:
      - ./images:/data/images
      - ./files:/data/files
    restart: unless-stopped
