services:
  prepull-executor:
    image: registry.cn-hangzhou.aliyuncs.com/ripper/docker:27-cli
    command: ["sh", "-c", "docker pull registry.cn-hangzhou.aliyuncs.com/ripper/python-executor:latest"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: "no"

  api:
    image: registry.cn-hangzhou.aliyuncs.com/ripper/python-code-interpreter-api:latest
    pull_policy: always
    depends_on:
      prepull-executor:
        condition: service_completed_successfully
    environment:
      PORT: "14564"
      PUBLIC_BASE_URL: ""
      DEBUG: "false"
      DOCKER_IMAGE: "registry.cn-hangzhou.aliyuncs.com/ripper/python-executor:latest"
      DOCKER_NETWORK_MODE: "bridge"
      DOCKER_PIDS_LIMIT: "256"
      IMAGE_STORE_PATH: "/data/images"
      IMAGE_URL_PREFIX: "/images"
      FILE_STORE_PATH: "/data/files"
      FILE_URL_PREFIX: "/files"
    ports:
      - "14564:14564"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./images:/data/images
      - ./files:/data/files
    restart: unless-stopped
